html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 70px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: white;
    text-align: center;
    background-color: #343a40;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}

.request-tables {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.reception-time {
    margin-left: 10px;
}

.wrapper {
    padding: 5px;
}

h2 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

td {
    white-space: nowrap;
}

.word-wrap {
    white-space: normal;
    max-width: 200px;
}
