<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Title</title>
</head>
<body>
    <div th:replace="header::header"></div>
    <main role="main" class="container">
        <h2>System users</h2>
        <div class="buttons">
            <a class="btn btn-primary" th:href="@{/admin/add/DOCTOR}" role="button">Add doctor</a>
            &nbsp;
            <a class="btn btn-primary" th:href="@{/admin/add/ADMIN}" role="button">Add admin</a>
        </div>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="admin-users">
            </tbody>
        </table>
        <ul class="pagination"></ul>
    </main>
    <div th:replace="footer::footer"></div>
    <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap.min.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
</body>
</html>