<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Change password</title>
</head>
<body>
    <div th:replace="header::header"></div>
    <main role="main" class="container">
        <h2>Change password</h2>
        <form action="#" th:action="@{/account/change-password}" method="post" th:object="${changePassword}">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label th:for="${#ids.next('password')}">Password</label>
                <input type="password" class="form-control" th:field="*{password}" th:errorclass="is-invalid"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('confirmPassword')}">Confirm password</label>
                <input type="password" class="form-control" th:field="*{confirmPassword}" th:errorclass="is-invalid"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
            </div>
            <input class="btn btn-primary" type="submit" value="Save"/>
            <a class="btn btn-secondary" type="button" th:href="@{/account}">Cancel</a>
        </form>
    </main>
    <div th:replace="footer::footer"></div>
    <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap.min.js}"></script>
</body>
</html>