<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Edit user</title>
</head>
<body>
    <div th:replace="header::header"></div>
    <main role="main" class="container" th:with="isPatient=${user.role == T(com.geekhub.user.UserRole).PATIENT}">
        <h2>Change data</h2>
        <form action="#"
            th:action="${isPatient} ? @{/account/edit/patient} : @{/account/edit/user}"
            method="post"
            th:object="${user}">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{role}"/>
            <div class="form-group">
                <label th:for="${#ids.next('firstName')}">First Name</label>
                <input type="text" class="form-control" th:field="*{firstName}" th:errorclass="is-invalid"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('lastName')}">Last Name</label>
                <input type="text" class="form-control" th:field="*{lastName}" th:errorclass="is-invalid"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('email')}">Email</label>
                <input type="email" class="form-control" th:field="*{email}" th:errorclass="is-invalid"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('phone')}">Phone</label>
                <input type="text" class="form-control" th:field="*{phone}" th:errorclass="is-invalid"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
            </div>
            <div th:if="${isPatient}" class="form-group">
                <label th:for="${#ids.next('birthday')}">Birthday</label>
                <input type="date" class="form-control" th:field="*{birthday}" th:errorclass="is-invalid"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
            </div>
            <div th:if="${isPatient}" class="form-group">
                <label th:for="${#ids.next('address')}">Address</label>
                <input type="text" class="form-control" th:field="*{address}" th:errorclass="is-invalid"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
            </div>
            <input class="btn btn-primary" type="submit" value="Save"/>
            <a class="btn btn-secondary" type="button" th:href="@{/}">Cancel</a>
        </form>
    </main>
    <div th:replace="footer::footer"></div>
    <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap.min.js}"></script>
</body>
</html>