<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Error</title>
</head>
<body>
<div th:replace="header::header"></div>
<main role="main" class="container">
    <h2>Error</h2>
    <h4 th:text="${errorMessage}"></h4>
    <h4 th:if="${status == 404}">Page Not Found</h4>
    <a th:href="@{/}">Back to Home Page</a>
</main>
<div th:replace="footer::footer"></div>
<script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/libs/bootstrap.min.js}"></script>
</body>
</html>
