<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <div th:fragment="header">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}">Home</a>
            <div class="navbar-brand dropdown">
                <a class="nav-link dropdown-toggle" id="reception" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reception
                </a>
                <div class="dropdown-menu" aria-labelledby="reception">
                    <a class="dropdown-item" sec:authorize="hasRole('PATIENT')" th:href="@{/reception/request}">Request reception</a>
                    <a class="dropdown-item" sec:authorize="hasAnyRole('DOCTOR', 'ADMIN')" th:href="@{/reception}">Start reception</a>
                    <a class="dropdown-item" th:href="@{/schedule}">Schedule</a>
                </div>
            </div>
            <div class="navbar-brand dropdown" sec:authorize="hasAnyRole('DOCTOR', 'ADMIN')">
                <a class="nav-link dropdown-toggle" id="statistic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Statistic
                </a>
                <div class="dropdown-menu" aria-labelledby="statistic">
                    <a class="dropdown-item" th:href="@{/statistic/receptions}">Receptions report</a>
                    <a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/statistic/doctors}">
                        Doctors report
                    </a>
                </div>
            </div>
            <a class="navbar-brand" sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">Admin panel</a>
            <a class="navbar-brand" sec:authorize="isAnonymous()" th:href="@{/login}">Log in</a>
            <div class="navbar-brand dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" sec:authentication="name" id="account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu" aria-labelledby="account">
                    <a class="dropdown-item" th:href="@{/account}">My account</a>
                    <form action="#" th:action="@{/logout}" method="post">
                        <input class="dropdown-item" type="Submit" value="Logout"/>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>