<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Login</title>
</head>
<body>
    <div th:replace="header::header"></div>
    <main role="main" class="container">
        <h2>Enter your credentials</h2>
        <p class="alert alert-danger"
           th:if="${error and session[SPRING_SECURITY_LAST_EXCEPTION] != null}"
           th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}">
            Wrong user or password
        </p>
        <form action="#" th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Login</label>
                <input type="text" class="form-control" id="username" name="username"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password"/>
            </div>
            <input class="btn btn-primary" type="submit" value="Save"/>
            <a class="btn btn-secondary" type="button" th:href="@{/}">Cancel</a>
        </form>
        <a th:href="@{/registration}">Registration</a>
    </main>
    <div th:replace="footer::footer"></div>
    <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap.min.js}"></script>
</body>
</html>