<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>My account</title>
</head>
<body>
    <div th:replace="header::header"></div>
    <main role="main" class="container">
        <h2>My account</h2>
        <table>
            <tr>
                <th><strong>Login</strong></th>
                <td th:text="${user.login}"></td>
            </tr>
            <tr>
                <th><strong>First Name</strong></th>
                <td th:text="${user.firstName}"></td>
            </tr>
            <tr>
                <th><strong>Last Name</strong></th>
                <td th:text="${user.lastName}"></td>
            </tr>
            <tr>
                <th><strong>Email</strong></th>
                <td th:text="${user.email}"></td>
            </tr>
            <tr>
                <th><strong>Phone</strong></th>
                <td th:text="${user.phone}"></td>
            </tr>
            <tr th:if="${isPatient}">
                <th><strong>Birthday</strong></th>
                <td th:text="${#temporals.format(user.birthday, 'yyyy-MM-dd')}"></td>
            </tr>
            <tr th:if="${isPatient}">
                <th><strong>Address</strong></th>
                <td th:text="${user.address}"></td>
            </tr>
        </table>
        <div class="buttons">
            <a class="btn btn-primary" role="button" th:href="@{/account/edit}">Edit info</a>
            &nbsp;
            <a class="btn btn-primary" role="button" th:href="@{/account/change-password}">Change password</a>
        </div>
        <table th:if="${isPatient}" class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Date and time</th>
                    <th>Doctor</th>
                    <th>Medication</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reception: ${receptions}">
                    <td th:text="${#temporals.format(reception.date, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${reception.doctor}"></td>
                    <td class="word-wrap" th:text="${reception.medication}"></td>
                    <td th:text="${reception.status}"></td>
                    <td>
                        <form th:if="${reception.status == T(com.geekhub.reception.ReceptionStatus).REQUESTED}" th:action="@{'/reception/cancel/' + ${reception.id}}" method="post">
                            <input class="btn btn-primary btn-sm" type="Submit" value="Cancel"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <div th:replace="footer::footer"></div>
    <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap.min.js}"></script>
</body>
</html>