<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Request reception</title>
</head>
<body>
    <div th:replace="header::header"></div>
    <main role="main" class="container">
        <h2>Request reception</h2>
        <form method="post" th:action="@{/reception/request}" th:object="${receptionRequest}">
            <div style="width: 200px" class="wrapper">
                <select class="form-control" th:field="*{doctorId}">
                    <div>
                        <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.fullName}"></option>
                    </div>
                </select>
            </div>
            <div class="request-tables">
                <div style="width: 30%">
                    <table class="reception-date"></table>
                </div>
                <div style="width: 70%">
                    <table class="reception-time"></table>
                </div>
            </div>
            <input type="hidden" th:field="*{patientId}"/>
            <input type="hidden" th:field="*{date}"/>
            <input type="hidden" th:field="*{time}"/>
            <div class="buttons">
                <input class="btn btn-primary" type="submit" value="Send"/>
                &nbsp;
                <a class="btn btn-secondary" type="button" th:href="@{/}">Cancel</a>
            </div>
        </form>
    </main>
    <div th:replace="footer::footer"></div>
    <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap.min.js}"></script>
    <script th:src="@{/js/libs/moment.min.js}"></script>
    <script th:src="@{/js/date-time-utils.js}"></script>
    <script th:src="@{/js/reception-request.js}"></script>
</body>
</html>