<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Apply reception</title>
</head>
<body>
    <div th:replace="header::header"></div>
    <main role="main" class="container">
        <h2>Apply reception</h2>
        <h5 th:text="${reception.patient}"></h5>
        <form action="#" th:action="@{/reception/apply}" method="post" th:object="${reception}">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label th:for="${#ids.next('medication')}">Medication</label>
                <textarea class="form-control" th:field="*{medication}" rows="5"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Save"/>
            <a class="btn btn-secondary" type="button" th:href="@{/reception}">Cancel</a>
        </form>
    </main>
    <div th:replace="footer::footer"></div>
    <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap.min.js}"></script>
</body>
</html>