<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Reception</title>
</head>
<body>
    <div th:replace="header::header"></div>
    <main role="main" class="container">
        <h2>Today reception</h2>
        <table class="table-bordered table-sm">
            <thead>
                <tr>
                    <th>Date and time</th>
                    <th>Patient</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reception: ${receptions}">
                    <td th:text="${#temporals.format(reception.date, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${reception.patient}"></td>
                    <td>
                        <a class="btn btn-sm btn-primary" th:href="@{'/reception/apply/' + ${reception.id}}">Apply reception</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <div th:replace="footer::footer"></div>
    <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap.min.js}"></script>
</body>
</html>