<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Edit Schedule</title>
</head>
<body>
    <div th:replace="header::header"></div>
    <main role="main" class="container">
        <h2>Schedule for <span th:text="${doctor.fullName}"></span></h2>
        <form action="#" th:action="@{/schedule/save}" method="post" th:object="${schedule}">
            <input type="hidden" th:field="*{doctorId}"/>
            <div class="form-group">
                <label th:for="${#ids.next('date')}">Date</label>
                <input type="date" class="form-control" th:field="*{date}"/>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('startTime')}">From</label>
                <input type="time" class="form-control" th:field="*{startTime}" th:errorclass="is-invalid"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></div>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('endTime')}">To</label>
                <input type="time" class="form-control" th:field="*{endTime}" th:errorclass="is-invalid"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></div>
            </div>
            <input class="btn btn-primary" type="submit" value="Save"/>
            <a class="btn btn-secondary" type="button" th:href="@{/schedule}">Cancel</a>
        </form>
    </main>
    <div th:replace="footer::footer"></div>
    <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap.min.js}"></script>
</body>
</html>