<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Schedule</title>
</head>
<body>
    <div th:replace="header::header"></div>
    <main role="main" class="container">
        <h2>Doctors schedule</h2>
        <div class="buttons">
            <div style="width: 200px">
                <select class="form-control" name="doctors" id="doctors">
                    <option selected="selected" value="0">All doctors</option>
                    <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.fullName}"></option>
                </select>
            </div>
            &nbsp;
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form th:action="@{/schedule/download/excel}" method="post">
                        <input class="dropdown-item" type="Submit" value="Excel"/>
                    </form>
                    <form th:action="@{/schedule/download/word}" method="post">
                        <input class="dropdown-item" type="Submit" value="Word"/>
                    </form>
                    <form th:action="@{/schedule/download/pdf}" method="post">
                        <input class="dropdown-item" type="Submit" value="Pdf"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr class="schedule__header">
                        <th>Doctor</th>
                    </tr>
                </thead>
                <tbody class="schedule__data">
                </tbody>
            </table>
        </div>
    </main>
    <div th:replace="footer::footer"></div>
    <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/libs/popper.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap.min.js}"></script>
    <script th:src="@{/js/libs/moment.min.js}"></script>
    <script th:src="@{/js/date-time-utils.js}"></script>
    <script th:src="@{/js/schedule.js}"></script>
</body>
</html>