<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Receptions report</title>
</head>
<body>
    <div th:replace="header::header"></div>
    <main role="main" class="container">
        <h2>Receptions report</h2>
        <div class="container">
            <div class="form-row">
                <div class="col">
                    <label for="startDate">From</label>
                    <input type="date" class="form-control" name="startDate" id="startDate" th:value="${startDate}"/>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col">
                    <label for="endDate">To</label>
                    <input type="date" class="form-control" name="endDate" id="endDate" th:value="${endDate}"/>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <label for="doctors">Doctor</label>
            <select class="form-control" name="doctors" id="doctors">
                <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.fullName}"></option>
            </select>
            <div class="wrapper">
                <button id="btn-run" class="btn btn-primary" type="button">Get Report</button>
            </div>
        </div>
        <table class="table table-bordered table-sm receptions-report wrapper">
            <thead>
                <tr>
                    <th>Doctor</th>
                    <th>Patient</th>
                    <th>Date</th>
                    <th>Medication</th>
                    <th>Status</th>
                    <th>Total count receptions</th>
                    <th>Count by status</th>
                </tr>
            </thead>
            <tbody class="receptions">
            </tbody>
        </table>
    </main>
    <div th:replace="footer::footer"></div>
    <script th:src="@{/js/libs/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap.min.js}"></script>
    <script th:src="@{/js/libs/moment.min.js}"></script>
    <script th:src="@{/js/date-time-utils.js}"></script>
    <script th:src="@{/js/report-error-handler.js}"></script>
    <script th:src="@{/js/statistic-receptions.js}"></script>
</body>
</html>